@tailwind base;
@tailwind components;
@tailwind utilities;

.task-shadow {
  transition: box-shadow 120ms ease, transform 120ms ease;
}
html {
  color-scheme: light dark;
  transition: background-color 0.3s ease, color 0.3s ease;
}
